global
    log stdout format raw daemon
    maxconn 8192                    # Set the global maximum connection limit
    tune.ssl.default-dh-param 2048   # SSL settings (if needed)
    # Add stats socket for exporter
    # stats socket /var/run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s

frontend stats
    mode http
    bind *:8404
    stats enable
    stats uri /
    stats refresh 10s
    stats show-node
    stats show-legends
    stats admin if TRUE
    timeout client  60000ms          # Timeout for receiving client data

frontend prometheus
    bind :8405
    mode http
    http-request use-service prometheus-exporter if { path /metrics }
    timeout client 60000ms
    timeout connect 10000ms
    timeout server 60000ms
    no log

defaults
    log global
    option tcplog                    # Enable logging of client IPs in TCP traffic
    timeout connect 10000ms           # Timeout for establishing connection to the backend
    timeout client  60000ms          # Timeout for receiving client data
    timeout server  60000ms          # Timeout for receiving server data

frontend skylink_frontend
    bind *:30004                     # Listen on port 30005
    default_backend skylink_backend   # Define the backend for this frontend
    option tcplog                    # Log client IPs


backend skylink_backend
    balance source			# Use source IP for sticky connections
    server skylink skylink:30104 maxconn 2500 inter 10s fall 3 rise 2  # Forward traffic to the skylink container with connection limits, no check


